.search-btn {
    margin: 1px;
    border: thin solid;
}

.dropdown {
    margin: 1px;
}

.input {
    margin: 1px;
}

.hide-button {
    display: block;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
}

.search button:hover {
    background-color: grey;
    transition: 0.3s;
}

.search button:active {
    background-color: #005cbf;
    transform: scale(0.95);
    transition: transform 0.1s;
}
